.DS_Store

# Build
Build

# Steamworks SDK
SteamworksSDK/*
!SteamworksSDK/tools
SteamworksSDK/tools/*
!SteamworksSDK/tools/ContentBuilder
SteamworksSDK/tools/ContentBuilder/*
!SteamworksSDK/tools/ContentBuilder/scripts


**/save/**/*
