.DS_Store

# Steamworks SDK
SteamworksSDK/*
!SteamworksSDK/tools
SteamworksSDK/tools/*
!SteamworksSDK/tools/ContentBuilder
SteamworksSDK/tools/ContentBuilder/*
!SteamworksSDK/tools/ContentBuilder/scripts
