.DS_Store
.metadata
cirno2nd/error.txt
cirno2nd/bin
cirno2nd/save
cirno2nd/**/*.properties

# Build
Build

# Steamworks SDK
SteamworksSDK/*
!SteamworksSDK/tools
SteamworksSDK/tools/*
!SteamworksSDK/tools/ContentBuilder
SteamworksSDK/tools/ContentBuilder/*
!SteamworksSDK/tools/ContentBuilder/scripts
